@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-ExtraLight-webfont.eot');
    src: url('../font/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('../font/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro-ExtraLight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../font/SourceSansPro-ExtraLight-webfont.svg#source_sans_proextralight') format('svg');
        font-weight: 100;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-Light-webfont.eot');
    src: url('../font/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../font/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro-Light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../font/SourceSansPro-Light-webfont.svg#source_sans_prolight') format('svg');
        font-weight: 300;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-LightItalic-webfont.eot');
    src: url('../font/SourceSansPro-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro-LightItalic-webfont.woff') format('woff'),
         url('../font/SourceSansPro-LightItalic-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro-LightItalic-webfont.svg#source_sans_prolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../font/SourceSansPro-LightItalic-webfont.svg#source_sans_prolight_italic') format('svg');
        font-weight: 300;
        font-style: italic;
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-Regular-webfont.eot');
    src: url('../font/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../font/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../font/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
        font-weight: 400;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-Italic-webfont.eot');
    src: url('../font/SourceSansPro-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro-Italic-webfont.woff') format('woff'),
         url('../font/SourceSansPro-Italic-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro-Italic-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../font/SourceSansPro-Italic-webfont.svg#source_sans_proitalic') format('svg');
        font-weight: 400;
        font-style: italic;
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-Bold-webfont.eot');
    src: url('../font/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../font/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro-Bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../font/SourceSansPro-Bold-webfont.svg#source_sans_probold') format('svg');
        font-weight: 700;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-BoldItalic-webfont.eot');
    src: url('../font/SourceSansPro-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro-BoldItalic-webfont.woff') format('woff'),
         url('../font/SourceSansPro-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro-BoldItalic-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../font/SourceSansPro-BoldItalic-webfont.svg#source_sans_probold_italic') format('svg');
        font-weight: 700;
        font-style: italic;
    }
}